water-fall
  display block
  position relative
  overflow hidden
  transition height ease 1s
  margin -15px
  padding 15px

index-card
  display block
  &:defined
    position absolute

water-fall-card()
  width var(--card-width, 100%)
  transform translate(calc(var(--column, 0) * var(--card-width-padding, 0)), var(--offset-y, 0))

water-fall.updated
  &:not(.multi-column)
    index-card:defined
      water-fall-card()

  &.multi-column
    index-card:defined
      &:not(:first-of-type)
        water-fall-card()
      &:first-of-type
        width calc(100% - 30px)
        padding-bottom 20px
        &::after
          position absolute
          display block
          content ""
          left 20px
          right 20px
          bottom 0
          height 1px
          background var(--text-color)
        .index-img img
          max-height unset
        article
          position absolute
          bottom 20px
          left 0
          right 0
          padding-left 20px;
          padding-right 20px;
          color white
          -webkit-backdrop-filter blur(10px)
          backdrop-filter blur(10px)
          border-radius 0 0 5px 5px
          > *
            position relative
          &::before
            content ""
            position absolute
            inset 0
            background var(--body-bg-color)
            opacity 0.5
            border-radius inherit

.index-img
  img
    display block
    width 100%
    max-height var(--card-width, 100%)
    object-fit cover
    box-shadow 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
    border-radius 5px
    background-color transparent

.index-info
  display flex
  flex-direction column
  justify-content flex-start
  padding-top .5rem
  padding-bottom .5rem

.index-header
  color var(--text-color)
  font-size 1.5rem
  font-weight bold
  line-height 1.4
  margin-bottom 0
  margin-top .5rem

  .index-pin
    color var(--text-color)
    font-size 1.5rem
    margin-right .15rem

.index-btm
  color var(--sec-text-color)
  display flex
  flex-wrap wrap
  gap .25rem

  a
    color var(--sec-text-color)

.index-excerpt
  color var(--sec-text-color)

  margin 0.5rem 0 0.5rem 0
  max-height calc(1.4rem * 3)
  line-height 1.4rem
  overflow hidden

  & > div
    float right
    margin-left -0.25rem
    width 100%
    word-break break-word
    display -webkit-box
    -webkit-box-orient vertical
    -webkit-line-clamp 3

@media (max-width: 767px)
  .index-info
    padding-top 1.25rem

  .index-header
    font-size 1.25rem
    white-space normal
    overflow hidden
    word-break break-word
    display -webkit-box
    -webkit-box-orient vertical
    -webkit-line-clamp 2

    .index-pin
      font-size 1.25rem
